@import "vars";
@import "libs";
@import "fonts";
@import "global";

.lgray-bg {
  background-color: #f6f7fb;
}
.dgray-bg {
  background-color: #eef1f3;
}
.top__header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users__nav-btn {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background-color: $blue-text;
  color: #fff;
  padding: 13px 18px;
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
}
.user-icons {
  margin-right: 33px;
}
.user__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-avatars {
  background-color: #7c7979;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user__login {
  margin-left: 22px;
  font-weight: 500;
  line-height: 22px;
  color: $header-text;
  span {
    display: block;
    font-size: 15px;
    color: #0674ec;
  }
}
.user-icons {
  position: relative;
}
.user-icons img {
  vertical-align: middle;
}
.notific {
  color: #fff;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -15px;
  right: -20px;
  border-radius: 11px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.notific-red {
  background-color: #ff6a6c;
}
.notific-green {
  background-color: #62d03b;
}
.notific-blue {
  background-color: $blue-text;
}
.header__menu {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
}
.menu__list li {
  display: inline-block;
  color: $header-text;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  & + li {
    margin-left: 25px;
  }
}
.header__menu-search {
  position: relative;
  max-width: 360px;
  width: 100%;
}
.header__menu-search input {
  color: #898f96;
  font-size: 15px;
  border-radius: 23px;
  border: 1px solid #d9dfe5;
  padding: 16px 0px 16px 25px;
  outline: none;
  max-width: 360px;
  width: 100%;
  display: block;
}
.header__menu-search {
  button {
    position: absolute;
    border: none;
    background-color: transparent;
    border-radius: 23px;
    background-color: $blue-text;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
  }
}
.header__present {
  background-color: $blue-text;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  opacity: 0.8;
}
.header__present-text__box {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding: 170px 0px 220px;
  color: #f3f3f8;
  text-align: center;
}
.header__present {
  &-title {
    font-size: 60px;
    line-height: 70px;
  }
  &-title__bold {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 35px;
  }
  &-text {
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 500;
  }
  &-btn {
    margin-right: 25px;
    padding: 20px 30px;
    border-radius: 28px;
    border: 1px solid #ffffff;
    &:hover {
      background-color: #fff;
      color: $blue-text;
      transition: all 0.2s;
    }
  }
}
.search__box-wrapper {
  position: relative;
  height: 135px;
  bottom: 80px;
  z-index: 1;
}
.search__box-wrapper:before {
  background-color: #fff;
  opacity: 0.5;
  width: 100%;
  height: 135px;
  bottom: 10px;
  content: "";
  position: absolute;
  border-radius: 6px;
  z-index: -2;
  right: 0;
  left: 13px;
  max-width: 1110px;
}
.search__box-wrapper:after {
  background-color: #fff;
  opacity: 0.5;
  width: 1080px;
  height: 135px;
  bottom: 20px;
  content: "";
  position: absolute;
  border-radius: 6px;
  z-index: -1;
  right: 0;
  left: 28px;
  max-width: 1110px;
}
.search__box-wrapper {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 20gitpx;
  padding: 40px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  padding: 20px 0px 20px 30px;
  display: flex;
  align-items: center;
  height: 135px;
}
.search__box {
  background-color: #fff;
}
.search__box-wrapper form {
  border: 1px solid #dcdcdc;
  max-width: 800px;
  width: 100%;
  border-radius: 4px;
}

.search__box-wrapper .text-field {
  line-height: 55px;
  height: 55px;
  padding: 0 25px;
  font-size: 16px;
  border-radius: 4px 0 0 4px;
  max-width: 600px;
  width: 100%;
  margin-right: 0;
  border: none;
  border-right: 1px solid #dcdcdc;
}

.select-cat {
  height: 55px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  outline: none;
  padding-left: 15px;
  cursor: pointer;
  margin-right: 36px;
}
select {
  -webkit-appearance: none;
  position: relative;
}
.select-cat span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.search-now__btn {
  border-radius: 4px;
  background-color: #0674ec;
  height: 55px;
  color: #fff;
  padding: 20px 70px;
  text-align: center;
  margin-left: 20px;
}
.items {
  padding: 0 0 120px 0;
  &__inner {
    display: flex;
  }
}
.item {
  width: 360px;
  text-align: center;
  margin-right: 40px;
  padding: 40px 0px 50px;
  & img {
    margin-bottom: 40px;
    width: 110px;
  }
  &__title {
    font-size: 24px;
    color: #000;
    margin-bottom: 35px;
  }
  &__text {
    color: $main-text;
    font-size: 16px;
    line-height: 30px;
  }
  &:hover {
    background-color: #fff;
    box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    padding: 40px 0px 50px;
  }
}
.weekly__products {
  padding: 120px 0;
}
.weekly__products-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  background-color: #fff;
  padding: 40px 30px 40px 40px;
  margin-bottom: 50px;
}
.weekly__products,
.followers {
  &-title {
    font-size: 30px;
    color: #000;
  }
  &-btn {
    border-radius: 23px;
    background-color: #7347c1;
    padding: 15px 25px;
  }
}

.weekly__products-btn button {
  border: none;
  background: transparent;
  cursor: pointer;
  & + button {
    margin-left: 40px;
  }
}
.followers-btn button {
  border: none;
  background: transparent;
  cursor: pointer;
  & + button {
    margin-left: 40px;
  }
}

.slick-slide img {
  display: inline-block;
}

//end slick btn

.product__block-slider .product__block-inner,
.release__item-slider {
  display: flex;
  justify-content: space-between;
}
.product__block-inner {
  display: flex !important;
  justify-content: space-between !important;
}
.product__img {
  max-width: 555px;
  width: 100%;
  min-height: 450px;
  border-radius: 4px 0 0 4px;
  background-color: #4e5760;
}
.product__block-info {
  padding: 50px 60px 24px 50px;
  background-color: #fff;
  max-width: 1140px;
}
.product-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
.product-avatar img {
  width: 30px;
  height: 30px;
  background-color: $violet;
  margin-right: 9px;
  border-radius: 50%;
  display: inline-block;
}
.nickname {
  margin-right: 20px;
}
.info__byer {
  display: flex;
  align-items: center;
}
.product-name {
  margin-left: 9px;
  color: $violet;
  font-size: 15px;
}
.product-text {
  margin-bottom: 15px;
  margin-top: 40px;
}

.keywords {
  padding: 7px 10px;
  border-radius: 14px;
  background-color: #f1f3f6;
  color: #868c96;
  margin-right: 7px;
}
.product-statistics {
  margin-top: 40px;
  border-top: 1px solid #ececec;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.products-cost {
  border-radius: 16px;
  padding: 9px 20px;
  display: block;
  background-color: $blue-text;
  & span {
    color: #fff;
  }
}

.statistics-left {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.products-likes {
  margin-left: 20px;
  & span {
    margin-left: 10px;
  }
}
.products-sellers {
  margin-left: 20px;
  position: absolute;
  right: 30px;

  & span {
    margin-left: 10px;
    color: $blue-text;
  }
}
//start release
.release__products-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.release {
  padding: 120px 0px 30px;
}
.release__filter {
  color: #747b86;
  font-size: 16px;
  line-height: 32px;
  padding-right: 20px;
  position: relative;
  &::before {
    content: "";
    background-image: url(../img/icons/filter-by.png);
    width: 5px;
    height: 20px;
    position: absolute;
    right: 0px;
    top: 5px;
    cursor: pointer;
  }
}
.release__keywords {
  background-color: #fff;
  padding: 40px 0px 40px 50px;
  margin-bottom: 50px;
  button {
    border: none;
    color: #747b86;
    border-radius: 16px;
    background-color: #f1f3f6;
    padding: 10px 20px;
    box-shadow: 0 1px 2px rgba(90, 93, 100, 0.1);
    cursor: pointer;
    outline: none;
  }
  & .active-blue {
    background-color: #0674ec;
    color: #fff;
  }
}
.release__item {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(108, 111, 115, 0.1);
  max-width: 361px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 31px;
}
.info__byer-wrap {
  display: flex;
  align-items: center;
}
.release__item .info__byer {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-left: 30px;
}
.release__title {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-left: 30px;
}
.statistics-release {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 15px 30px;
  position: relative;
}
.statistics-release .products-cost {
  background-color: #dcedff;
  span {
    font-weight: 500;
    color: #0674ec;
  }
}
.statistics-release .products-sellers {
  margin-left: 100px;
}
.release__img {
  background-repeat: no-repeat;
  background-color: #009688;
  min-height: 230px;
  width: 361px;
  border-radius: 4px 4px 0 0;
  margin-bottom: 30px;
}
.release-btn {
  display: block;
  max-width: 190px;
  margin: 0 auto;
  background-color: $blue-text;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  margin-bottom: 80px;
  margin-top: 60px;
  a {
    color: #fff;
    text-align: center;
    padding: 20px 30px;
  }
}
.statistics-stars {
  margin-left: 15px;
}
//end release
// start statistics
.statistics {
  background-color: rgba(0, 6, 6, 0.8);
  padding: 198px 0;
  text-align: center;
}
.statistics__items-inner {
  display: flex;
  justify-content: space-between;
}
.statistics__item {
  align-self: flex-end;
}
.statistics-icon {
  margin-bottom: 50px;
}
.statistics-number {
  margin-bottom: 10px;
  font-size: 36px;
}
.orange-col {
  color: #feb71d;
}
.blue-col {
  color: #58c9e9;
}
.green-col {
  color: #77de51;
}
.red-col {
  color: #ff6a6d;
}
.statistics-text {
  font-size: 18px;
  line-height: 36px;
  color: #fff;
}
// end statistics
//start advantages
.title-main {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 29px;
  font-size: 36px;
  color: #000;
  line-height: 28px;
  span {
    color: #0674ec;
  }
}
.title__text {
  max-width: 671px;
  width: 100%;
  margin: 0 auto;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  margin-bottom: 60px;
}
.advantages__items-inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}
.advantages__item {
  max-width: 361px;
  padding: 56px 35px;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: relative;
}
.advantages__num {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 34px;
  height: 37px;
  opacity: 0.2;
  color: #5c87f8;
  font-size: 48px;
}
.advantages__icon {
  margin-bottom: 53px;
}
.advantages__title {
  font-size: 24px;
  margin-bottom: 29px;
  font-weight: 500;
}
//end advantages
.start__box__inner {
  display: flex;
  justify-content: start;
}
.left__box,
.right__box {
  width: 100%;
  background-image: url(../img/left-box-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 561px;
  text-align: center;
  color: #fff;
  padding: 100px 0;
  img {
    margin-bottom: 49px;
  }
}
.right__box {
  background-image: url(../img/right-box-bg.jpg);
}
.right__box-text,
.left__box-text {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 59px;
  max-width: 561px;
  display: inline-block;
  text-align: center;
}
.start__box-title {
  font-size: 36px;
  margin-bottom: 34px;
}
.start__box-text {
  max-width: 576px;
  line-height: 30px;
  margin-bottom: 49px;
  display: inline-block;
}

.start__box-btn {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 28px;
  background-color: #ffffff;
  max-width: 190px;
  margin: 0 auto;
}
.purple-btn a {
  color: #7347c1;
  font-size: 16px;
  padding: 26px;
  text-align: center;
}
.blue-btn a {
  color: #0674ec;
  font-size: 16px;
  padding: 26px;
  text-align: center;
}
// start feedback
.feedback__inner-box {
  display: flex;
  justify-content: space-between;
}
.feedback__wrapper {
  background-color: #fff;
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  max-width: 555px;
  border-radius: 4px;
  padding: 50px 40px;
  border-left: 2px solid $blue-text;
  position: relative;
  ::before {
    content: "";
    background-image: url(../img/bubble.png);
    position: absolute;
    right: 43px;
    top: 56px;
    width: 57px;
    height: 51px;
  }
}
.feedback-box {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 29px;
}
.feedback-user__box {
  padding-left: 20px;
  padding-top: 15px;
}
.feedback-name {
  font-size: 20px;
  color: #000;
  line-height: 30px;
}
.feedback-prof {
  font-size: 16px;
}
.feedback-ava__box {
  width: 80px;
  height: 80px;
  background-color: #808080;
  border-radius: 50%;
}
.feedback-user__box {
  margin-bottom: 29px;
}
//end feedback
//start news
.news__box-inner{
  display: flex;
  justify-content: space-between;
}
.news{
  padding-bottom: 120px;
}
.news-text {
  line-height: 30px;
  padding: 0px 40px 30px 30px;
}
.user__statistics {
  border-top: 1px solid #ececec;
  padding: 0px 40px 30px 30px;
  padding-top: 23px;
  display: flex;
  justify-content: space-between;
}
.news-date {
  padding-left: 21px;
  position: relative;
  padding-right: 40px;
  border-right: 1px solid $border;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    background-image: url(../img/news-ico/clock.png);
    background-repeat: no-repeat;
    left: 0px;
    top: 2px;
  }
}
.comments-num{
  padding-left: 21px;
  position: relative;
  margin-left: auto;
  margin-right: 30px;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    background-image: url(../img/news-ico/bubble.png);
    background-repeat: no-repeat;
    left: 0px;
    top: 2px;

  }
}
.user-views{
  padding-left: 21px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 15px;
    background-image: url(../img/news-ico/views.png);
    background-repeat: no-repeat;
    left: 0px;
    top: 6px;
  }
}

//end news
