@import "vars";
@import "libs";
@import "fonts";
@import "global";

.headerbg {
  background-color: #eef1f3;
}
.top__header {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.users__nav-btn {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  background-color: $blue-text;
  color: #fff;
  padding: 13px 18px;
  text-align: center;
  margin-left: auto;
  margin-right: 50px;
}
.user-icons {
  margin-right: 33px;
}
.user__auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-avatars {
  background-color: #7c7979;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.user__login {
  margin-left: 22px;
  font-weight: 500;
  line-height: 22px;
  color: $header-text;
  span {
    display: block;
    font-size: 15px;
    color: #0674ec;
  }
}
.user-icons {
  position: relative;
}
.user-icons img {
  vertical-align: middle;
}
.notific {
  color: #fff;
  position: absolute;
  width: 22px;
  height: 22px;
  top: -15px;
  right: -20px;
  border-radius: 11px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}

.notific-red {
  background-color: #ff6a6c;
}
.notific-green {
  background-color: #62d03b;
}
.notific-blue {
  background-color: $blue-text;
}
.header__menu {
  background-color: #fff;
  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
}
.menu__list li {
  display: inline-block;
  color: $header-text;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  & + li {
    margin-left: 25px;
  }
}
.header__menu-search {
  position: relative;
  max-width: 360px;
  width: 100%;
}
.header__menu-search input {
  color: #898f96;
  font-size: 15px;
  border-radius: 23px;
  border: 1px solid #d9dfe5;
  padding: 16px 0px 16px 25px;
  outline: none;
  max-width: 360px;
  width: 100%;
  display: block;
}
.header__menu-search {
  button {
    position: absolute;
    border: none;
    background-color: transparent;
    border-radius: 23px;
    background-color: $blue-text;
    right: 0;
    top: 0;
    height: 100%;
    width: 70px;
  }
}
.header__present {
  background-color: $blue-text;
  background-image: linear-gradient(to left, #0030de 0%, #2e5afb 100%);
  opacity: 0.8;
}
.header__present-text__box {
  max-width: 890px;
  width: 100%;
  margin: 0 auto;
  padding: 170px 0px 220px;
  color: #f3f3f8;
  text-align: center;
}
.header__present {
  &-title {
    font-size: 60px;
    line-height: 70px;
  }
  &-title__bold {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    margin-bottom: 35px;
  }
  &-text {
    margin-bottom: 70px;
    font-size: 20px;
    font-weight: 500;
  }
  &-btn {
    margin-right: 25px;
    padding: 20px 30px;
    border-radius: 28px;
    border: 1px solid #ffffff;
    &:hover{
      background-color: #fff;
      color: $blue-text; ;
      transition: all .2s;
    }
  }
}
@import "media";
